<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #342113"
>
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/logo.png"
      style="height: 60%; width: 60%"
      alt=""
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="isletme/urunlistele"
          >Ürün Listele/Sil( {{ urunSayi }} ürün)</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="isletme/urunkayit">Ürün Kayıt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Çıkış</a>
      </li>
    </ul>
  </div>
</nav>
<div class="mb-3">
  <div class="col-md-12">
    <div
      class="card col-md-3 float-left ml-3 mt-4"
      style="width: 300px"
      *ngFor="let item of kayitlar"
    >
      <div
        class="card-header bg-primary text-white text-center"
        style="
          position: absolute;
          width: 100px;
          height: 40px;
          left: -5px;
          top: -5px;
          border-radius: 5px 10px 5px 10px;
        "
      >
        <h6>{{ item.aracmarka }}</h6>
      </div>
      <div>
        <img
          class="card-img-top"
          [src]="item.url"
          style="height: 150px; object-fit: cover"
          alt=""
        />
      </div>
      <div class="card-body">
        <div class="" style="height: 50px">
          <strong>Ürün Markası: </strong> {{ item.marka }}
        </div>

        <strong>Ürün: </strong>{{ item.urunisim }} <br />

        <strong>Ürün Durumu: </strong> {{ item.durum }} <br />
        <strong>Ürün Fiyatı: </strong> {{ item.ucret }} <br />
        <strong>Adres: </strong>Adana/Yüreğir <br />
        <strong>İşletme Adı: </strong>{{ item.isletmeisim }} <br />
        <strong>İletişim: </strong>{{ item.isletmeTel }}
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-outline-danger btn-block"
          (click)="this.silme(item.key)"
        >
          Ürünü Sil
        </button>
        <div
          style="
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: #004c63;
            width: 100px;
            height: 30px;
            opacity: 0.8;
            border-radius: 20px 0px 0px 20px;
          "
        >
          <h6
            class="text-center text-white mt-3"
            style="position: relative; top: -10px; right: 0px"
          >
            09.01.2021
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
