<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" style="height: 60%;width:60%;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="isletme/urunsil">Ürün Sil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="isletme/urunlistele">Ürün Listele</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="isletme/urunkayit">Ürün Kayıt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Çıkış</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">

    <div class="col-md-5 form-group">
        <select name="marka" class="form-control">
            <option>Mercedes</option>
            <option>Bmw</option>
            <option>Audi</option>
            <option>Fiat</option>
            <option>Tofaş</option>
            <option>Citroen</option>
            <option>Ford</option>
            <option>Hyundai</option>
            <option>Toyota</option>
            <option>Pegout</option>
        </select>
    </div>

    <div class="col-md-5 form-group">
        <button class="btn btn-primary btn-block"> Ara </button>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;">
        <div class="card-header bg-info text-white text-center">
            <h5>Oto Kaporta</h5>
        </div>
        <div class="card-body">
            Citroen C4
            <hr>
            Ön Kaput
            <hr>
            Durum: İkinci El <br>
            Fiyat: 1000 Tl <br>
            Adres: Adana/Yüreğir <br>
            İşletme Adı: Güven Oto <br>
            İletişim: 0224 525 98 63 <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Sil</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>





</div>